.container {
    width: 100vw;
    overflow: hidden;
}

.header {
    height: 7vh;
}

.bodyContainer {
    height: 93vh;
    overflow-y: scroll;
}

.contentContainer {
    text-align: center;
    padding: 20px;
}
