.fileUploadInput {
    display: none;
}

.fileCard {
    width: fit-content;
    padding-left: 15px;
    margin-bottom: 15px;
}

.filesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}